<script>
    const jenisHewan = 'ikan'
    const namaUmum = 'Gurami'
    const namaLatin = 'Osphronemus gouramy'
    const jenis = 'tawar'
    const origin = 'Asia Tenggara dan Asia Selatan'
    const textTamplate = `
    ${jenisHewan} ${namaUmum} (${namaLatin}) adalah sejenis ${jenisHewan} air ${jenis} yang populer sebagai ${jenisHewan} konsumsi di
    ${origin}. Di samping itu, ${namaUmum} juga sering dipelihara dalam akuarium. Selain
    dikenal dengan nama ${namaUmum}, ${jenisHewan} ini juga memiliki beberapa sebutan lokal seperti gurame (Sd.); grameh
    Jw.); kaloi (My.); Kalui (Mng.); ${jenisHewan} kali (Plg.), dan lain-lain.[1]
    `
    console.log(textTamplate)    
</script>